

/*call to action*/

.call-to-action {
   background-color: var(--secondary);
      padding: 80px 15px;


   text-align: center;
   color:  var(--white);


}

.cta-container {
   display:  flex;
   flex-direction: column;
   gap: 15px;
}


.cta-blue {
   background-color:  var(--secondary);
   color:  var(--white);



}

.cta-container button, .cards button {
   text-transform: uppercase;
   display:  inline;
   align-self: center;
   padding: 15px 20px;

   /*margin-top:  15px;*/
}




.cta-red {
   background-image: url('../../images/kitchen-day.jpg');
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.cta-red .stern-voice, .cta-red .calm-voice, .cta-red button {
   z-index: 100000;
}

.cta-red:after {
   content: '';
   top: 0;
   left:  0;
   position:  absolute;
   background-color: rgba(0,0,0, 0.6);
   width: 100%;
   height:  100%;
   z-index: 1;

   object-fit: cover;
}

.cta-container {
   z-index: 100;
}


.cta-container button {
   background-color: var(--primary);
}





/*

@media (min-width: 768px) {
.call-to-action p.calm-voice {
   width:  76ch;
   margin:  auto;
}

}*/